[submodule "submodules/aider"]
	path = submodules/aider
	url = https://github.com/paul-gauthier/aider.git
[submodule "submodules/code"]
	path = submodules/code
	url = https://github.com/just-every/code.git
[submodule "submodules/pi-mono"]
	path = submodules/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "submodules/rowboat"]
	path = submodules/rowboat
	url = https://github.com/rowboatlabs/rowboat.git
