[submodule "submodules/aider"]
	path = submodules/aider
	url = https://github.com/paul-gauthier/aider.git
[submodule "submodules/code"]
	path = submodules/code
	url = https://github.com/just-every/code.git
